<div class="">
  <nav class="navbar navbar-light bg-light rounded shadow sticky-top">
    <div class="container">
      <a class="navbar-brand me-auto">
        <img
          src="assets/logoscan.png"
          alt=""
          width="250"
          height="90"
          style="width: inherit"
        />
      </a>
      <div class="">
        <button class="px-3 btn dark-blue rounded fs-8 btn-sm" type="submit">
          <i class="fa-solid fa-circle-info me-1"></i> Live Support
        </button>
      </div>
    </div>
  </nav>

  <div class="d-flex justify-content-center mt-5">
    <i class="fa-solid fa-magnifying-glass fa-5x"></i>
  </div>
  <div class="mt-5 text-center">
    <!-- <p>{{ mess }}</p> -->
    <h4 class="m-3 ps-3">The link you provided has expired or its invalid.</h4>
  </div>
</div>
